@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  background-color: #f6f8fa;
  color: #333;
}

.headerNav {
  display: grid;
  grid-template-columns: 0.82fr 1fr;
  align-items: center;
}
.headerNav .logo {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
}
.headerNav .logo > img {
  width: 160px;
  height: auto;
  padding: 1rem;
}
.headerNav .search {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #777;
  border-radius: 4px 4px 0 0;
  padding: 8px;
  width: 300px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}
.headerNav .search img {
  width: 40px;
  height: auto;
  margin-right: 1.1rem;
  padding: 0.2rem;
}
.headerNav .search input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  background-color: #f9f9f9;
}
.headerNav .search input::-moz-placeholder {
  color: #aaa;
}
.headerNav .search input::placeholder {
  color: #aaa;
}

.cart-container {
  display: flex;
  position: relative;
  margin: 0 5rem;
}
.cart-container img {
  width: 100%;
  height: auto;
  display: block;
}
.cart-container p {
  position: absolute;
  top: 25px;
  right: -10px;
  background-color: #1A4D2E;
  color: #fff;
  padding: 4px 10px;
  border-radius: 50%;
}

.featuredCategory {
  position: relative;
  width: 100%;
  height: auto;
}
.featuredCategory img {
  width: 100%;
  height: 89vh;
  display: block;
}
.featuredCategory figcaption {
  position: absolute;
  height: 400px;
  width: 600px;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  background-color: rgba(26, 77, 46, 0.1803921569);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.featuredCategory figcaption section {
  margin: 0 2rem 1rem 2rem;
}
.featuredCategory figcaption section .new-arrival,
.featuredCategory figcaption section .featuredCategoryText {
  color: #514343;
}
.featuredCategory figcaption section .featuredCategoryText {
  padding: 1.5rem 0;
}
.featuredCategory figcaption section header {
  color: #8D7171;
  margin-top: 0.5rem;
}
.featuredCategory figcaption section header h2 {
  margin: 0;
  line-height: 35px;
  font-size: 2rem;
}
.featuredCategory figcaption footer {
  margin-top: auto;
  padding: 0 2rem 1rem 2rem;
  margin-bottom: 2rem;
}
.featuredCategory figcaption footer .buy-now {
  background-color: #1A4D2E;
  color: #fff;
  padding: 1rem 3rem;
  border: none;
  border-radius: 4px;
}
.featuredCategory figcaption footer .buy-now:hover {
  cursor: pointer;
}

.productsHeader {
  margin: 2rem 0;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.productsHeader::after {
  content: "";
  display: block;
  width: 300px;
  height: 2px;
  background-color: currentColor;
  margin: 0.5rem auto 0;
}

#app > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.products {
  width: 100%;
  padding: 0 15px;
  display: flex;
}
.products > div:first-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.products figure {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 1rem;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}
.products figure:hover {
  transform: scale(1.05);
}
.products figure img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
.products figure figcaption h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.products figure figcaption p {
  margin: 0.4rem 0;
}

.viewProduct {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  height: auto;
  padding: 2rem;
}
.viewProduct figure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  height: auto;
}
.viewProduct figure .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  width: 100%;
  max-width: 675px;
  height: 620px;
  padding: 2rem;
}
.viewProduct figure .image-container img {
  max-width: 100%;
  height: auto;
}
.viewProduct figcaption {
  margin: auto;
  max-width: 600px;
}
.viewProduct figcaption header h2 {
  margin-bottom: 1rem;
}
.viewProduct figcaption .details {
  margin-bottom: 1rem;
}
.viewProduct figcaption section p {
  margin: 0.5rem 0;
}
.viewProduct figcaption hr {
  margin: 1rem 0;
}

.Buy-Now-container button {
  background-color: #1A4D2E;
  color: #fff;
  padding: 1rem 3rem;
  border: none;
  border-radius: 4px;
}
.Buy-Now-container button:hover {
  cursor: pointer;
}

.error-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.rating {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.category button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}

.category-wrapper {
  position: relative;
  display: inline-block;
}

.subcategories {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
  white-space: nowrap;
}
.subcategories .subcategory {
  padding: 5px 10px;
  cursor: pointer;
  display: block;
}
.subcategories .subcategory:hover {
  background-color: #f0f0f0;
}

.category-wrapper:hover .subcategories {
  display: block;
}

.footerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  background-color: var(--footer-bg);
  max-width: var(--width-full);
  height: 200px;
  position: relative;
}

.lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.lists ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: var(--black);
  padding: 2rem;
}
.lists ul li,
.lists ul p {
  margin-bottom: var(--padding-sm);
  font-size: var(--font-size-md);
  font-weight: 400;
}
.lists ul li a {
  text-decoration: none;
  color: var(--black);
}
.lists ul h3 {
  margin-bottom: var(--padding-md);
  color: var(--light);
  font-size: var(--font-size-xl);
}

.ratings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ratings ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ratings ul img {
  width: var(--rating-img-width);
  height: auto;
}

@media (max-width: 1000px) {
  .footerMain {
    margin-top: 30rem;
  }
}
@media (max-width: 1400px) {
  .headerNav {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 1200px) {
  .footerMain {
    margin-top: 10rem;
  }
}/*# sourceMappingURL=main.css.map */


/* #region MODAL */

#modal{
  position: absolute;
  right: 0;
  height: 700px;
  width: 400px;
  background-color: rgb(159, 36, 36);
  border-left: black solid 1px;
}

/* #endregion */